//  ============================================================================
//
//  Variables
//
//  Project Level Variables
//  ============================================================================

//  Colors
//  Light to Dark and ROYGBIV
//  ============================================================================

//  Whites
//  ========================================================
$cream: #fbf4ed;


//  Oranges
//  ========================================================
$espresso: #402813;

//  Blues
//  ========================================================
$noon-waters: #0d738c;
$midnight-waters: #133740;

//  Indogos
//  ========================================================

//  Typography
//  ============================================================================
$base-font-size:  14;

$serif-stack:  georgia, times, serif;
$sans-serif-stack:  verdana, arial, sans-serif;

$fancy-serif-stack: 'Lobster', #{$serif-stack};
$fancy-sans-serif-stack: 'Oswald', #{$sans-serif-stack};

//  Project Specifics
//  ============================================================================

//  Anchor Defaults
//  ========================================================
$linky-blue: blue;

//  Typography Defaults
//  ========================================================
$font-family: #{$fancy-sans-serif-stack};
$heading-family: #{$fancy-serif-stack};
