doctype html
html(lang='en-us')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Drink Machine | Try your luck for a morning beverage!
    link(rel='stylesheet', href='css/app.css')
    script(src='js/app.min.js', type='text/javascript')
  body
    h1 Try your luck for a morning beverage!
    div
      ul.Reels
        li.Reel.Reel_method
        li.Reel.Reel_equipment
        li.Reel.Reel_flavoring
    p.Appology.js-appology.u-displayNone Sorry, Please try again
    div.Kudos.js-kudos.u-displayNone
      p.Kudos Fantastic! You've won!
    button.js-play Press to Play
