/*  ============================================================================
*
*   Banner
*
*   Module for styling app banner.
*   ========================================================================= */

.Banner {
  color: $cream;
  background-color: $espresso;
  @include clearfix();

  &-title {
    font-family: $fancy-serif-stack;
  }
}
