/*  ============================================================================
*
*   Reel
*
*   Styling for individual Reel elements
*   ========================================================================= */

.Reel {
  background-color: grey;
  padding: 0;
  width: 150px;
  height: 150px;
  margin: 0;
}
