/*  ============================================================================
*
*   Reel
*
*   Styling for individual Reel elements
*   ========================================================================= */

.Reel {
  width: 150px;
  height: 150px;
}
