/*  ============================================================================
*
*   Reels
*
*   Styling for Reels container
*   ========================================================================= */

.Reels {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

