/*  ============================================================================
*
*   Reel
*
*   Styling for individual Reel elements
*   ========================================================================= */

@keyframes reelSpin {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 -450px;
  }
}

.Reel {
  background-color: grey;
  background-repeat: repeat-y;
  background-size: 100%;
  padding: 0;
  width: 75px;
  height: 75px;
  margin: 0;
  display: inline-block;
  transition: {
    property: background;
  }

  & + & {
    margin-left: 8px;
  }

  &_method {
    background-image: url('../images/reel-1.jpg');
  }

  &_equipment {
    background-image: url('../images/reel-2.jpg');
  }

  &_flavoring {
    background-image: url('../images/reel-3.jpg');
  }

  &-spin {
    animation: {
      name: reelSpin;
      duration: 400ms;
      iteration-count: 20;
      timing-function: linear;
      delay: 0s;
      direction: normal;
    }
  }

  &-reverseSpin {
    animation: {
      name: reelSpin;
      duration: 400ms;
      iteration-count: 20;
      timing-function: linear;
      delay: 0s;
      direction: reverse;
    }
  }

  &.is-offest-1 {
    background-position: 0 -150px;
    transition-duration: 200ms;
  }

  &.is-offest-2 {
    background-position: 0 -300px;
    transition-duration: 300ms;
  }
}
